[goldmark]
  [goldmark.renderer]
    unsafe = true
  [goldmark.extensions]
    [goldmark.extensions.passthrough]
      enable = true
      [goldmark.extensions.passthrough.delimiters]
        block = [['$$', '$$'], ['\[', '\]']]
        inline = [['\(', '\)']]

[highlight]
  codeFences = true
  guessSyntax = true
  noClasses = false
  style = "dracula"

[tableOfContents]
  startLevel = 2
  endLevel = 4
  ordered = false
